body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container-fluid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
}
  
#navbar {
    border-bottom: 1px solid #d3d3d3;
}
  
.line {
    width: 1px;
    height: 75px;
    background-color: #d3d3d3;
}
    
.header-img {
    max-width: 130px;
    margin-right: 10px;
    height: 80px;
}
    
.images{
    display: flex;
    align-items: left;
    max-width: 500px;
}
    
#adminbutton {
    background-color: white; 
    color: #abc99d; 
    border: 3px solid #abc99d;
    padding: 13px 29px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}
  
#adminbutton:hover {
    background-color: #abc99d;
    color: white;
}
  
#logoutbutton{
    background-color: #abc99d;
    color: white; 
    border: 3px solid #abc99d;
    padding: 13px 29px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}
      
#logoutbutton:hover {
    background-color: white;
    color: #abc99d;
}


#iconbutton {
    background-color: white; 
    color: #abc99d; 
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  
.dropdown-item-profile {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
  
#profiledropdown{
    background-color: #abc99d;
    min-width: 10px;
}

#logoutdropdown {
    font-size: 15px;
}

#logoutdropdown:hover {
    background-color: white;
    color: black;
}

#admindropdown {
    font-size: 15px;
}

#admindropdown:hover {
    background-color: white;
    color: black;
}

hr {
    margin: 0.2em auto;
}

#outline {
    border-color: black !important;
    position: relative;
}

#leftcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

#picturecontainer {
    margin-top: 50px;
    border: 2px solid black;
    border-color: black !important;
    width: 300px;
}

#profilepicture {
    border: 2px solid black;
    border-color: black !important;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: 9%;
    width: 250px;
    height: 320px;
}


#userinfobox {
    border: 2px solid black;
    border-color: black !important;
    margin-bottom: 50px;
    width: 300px;
}

#username {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}

#userage {
    text-align: start;
    color: black;
    font-size: 25px;
    display: inline-block;
    margin-top: 6px;
    width: 100%;
}

#topcontainer {
    margin-top: 30px;
    margin-bottom: 10px;
}

#textbox {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}


label{
    color: black;
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#banuserdiv {
    text-align: center;
    justify-content: center;
    align-items: center;
}



#permaBan{
    background-color: #abc99d;
    font-size: 20px;
    color: white;
    border: none;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 65%;
}

#permaBan:hover{
    background-color:#bbdaac;
}

#banUser{
    background-color:dimgrey;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-color: black !important;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

#banUser:hover{
    background-color: gray
}


#permanentdiv{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#temporarydiv{
    text-align: center;
    justify-content: center;
    align-items: center;
}


input[type=date] {
    background-color: #abc99d;
    color: white;
    border: none;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 65%;
}

input[type=date]:hover {
    background-color:#bbdaac;
    cursor: pointer;
}


#outlineM {
    border-color: black !important;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#mobileprofilecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

#picturecontainerM {
    margin-top: 40px;
    border: 2px solid black;
    border-color: black !important;
    width: 275px;
}

#profilepictureM {
    border: 2px solid black;
    border-color: black !important;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    height: 360px;
}

#userinfoboxM {
    border: 2px solid black;
    border-color: black !important;
    margin-bottom: 30px;
    width: 275px;
}

#topcontainerM {
    margin-bottom: 10px;
}

#hr1{
 color: black;
 margin: 0.2em auto;
 width: 96.3%;
}

#hr2{
    color: black;
    margin: 0.2em auto;
    width: 97.5%;
}

#textboxM {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin-top: 20px;
}

#banuserdivM{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#tabletprofilecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

#picturecontainerT {
    margin-top: 40px;
    border: 2px solid black;
    border-color: black !important;
    width: 450px;
}

#userinfoboxT {
    border: 2px solid black;
    border-color: black !important;
    margin-bottom: 30px;
    width: 450px;
}

#profilepictureT {
    border: 2px solid black;
    border-color: black !important;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 360px;
}


footer {
    background-color: #e6d1be;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
  