* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border-bottom: 0.5px solid #d3d3d3;
}

.line {
  width: 0.5px;
  height: 80px;
  background-color: #d3d3d3;
}

.header-img {
  max-width: 130px;
  margin-right: 10px;
  height: 80px;
}

.images {
  display: flex;
  align-items: left;
  max-width: 500px;
}

#explorebutton {
  background-color: white;
  color: #abc99d;
  border: 3px solid #abc99d;
  padding: 13px 29px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  border-radius: 0%;
}

#explorebutton:hover {
  background-color: #abc99d;
  color: white;
}

#logoutbutton {
  background-color: #abc99d;
  color: white;
  border: 3px solid #abc99d;
  padding: 13px 29px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  border-radius: 0%;
}

#logoutbutton:hover {
  background-color: white;
  color: #abc99d;
}


#iconbutton {
  background-color: white;
  color: #abc99d;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5px;
}

.dropdown-item-profile {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#profiledropdown {
  background-color: #abc99d;
}

#menu-dropdown {
  background-color: #e6d1be;
  color: white;
  text-align: center;
  padding: 7px 60px;
  font-size: 18px;
  font-weight: bold;
  border-color: #e6d1be;
  justify-content: left;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .dropdownBtn {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#menu-dropdown:hover {
  background-color: #e6d1be;
  border-color: black;
  color: white;
}

#homedropdown {
  background-color: #faf0e6;
  border-color: #dabb9e;
  border-width: 3px;
}

.dropdown-item {
  font-weight: bold;
  color: #dabb9e;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: #dabb9e;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

#outline {
  border-color: #4d4d4d !important;
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.saveChangesBtn {
  width: 285px;
  font-size: 18px;
  background-color: #abc99d;
  border-color: #abc99d;
}

.saveChangesBtn:hover {
  background-color: #97b189;
  border-color: #97b189;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.profilePicture {
  padding-bottom: 20px;
  max-width: 300px;
}

.fileUploadBtn {
  display: inline-block;
  width: 285px;
  font-size: 18px;
  padding: 8px 8px;
  background-color: #e6d1be;
  color: #fff;
  border: none;
  border-radius: 5.5px;
  cursor: pointer;
}


.fileUploadBtn:hover {
  background-color: #dabb9e;
}

#profile_pic {
  display: none;
}

.inputLabelText {
  font-weight: bold;
}

.optionDropdown {
  padding: 8px 20px;
  border: 1px solid #e6d1be;
  border-radius: 4px;
  background-color: #e6d1be;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 100%;
}

.optionDropdown option {
  font-size: 16px;
  background-color: #e6d1be;
  color: #fff;
  cursor: pointer;
}


.optionDropdown option:checked {
  background-color: #e6d1be;
}

.optionDropdown option:hover {
  background-color: #e6d1be;
  color: #fff;
}


.optionDropdown:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.textInput {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  border:none;
}

.textInput[readonly] {
  background-color: #f0f0f0;
}

.textInput:focus {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.info-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputField {
  padding: 5px;
}

footer {
  background-color: #e6d1be;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}