* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#outline {
  border: 10px solid #abc99d;
  border-color: #abc99d !important;
  position: relative;
  max-width: 98%;
}

#leftContainer{
  margin-top: 5px;
}

#title {
  color: black;
  font-weight: bolder;
  font-size: 40px;
}


#deal {
  border: 5px solid #e6d1be;
  border-color: #e6d1be !important;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 55%;
}

#info {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

#picture {
  border: 5px solid #e6d1be;
  border-color: #e6d1be !important;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
}


.slogan{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: black;
  text-decoration: none;
}

@media (max-width: 550px) {
  #title {
    font-size: 25px;
  }

  #info {
    font-size: 15px;
  }

  .slogan {
    font-size: 25px;
  }
}


footer {
  background-color: #e6d1be;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
