.messages-container {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh- 240px);
  flex: 1;
}

.sidebar {
  width: 25%;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  padding: 10px;
  border-right: 2px solid #d3d3d3;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

h2 {
  padding-left: 20px;
  margin-bottom: 3px;
  color: #636363;
  font-weight: bold;
  font-style: italic;
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  color: #abc99d;
}

.bi-send {
  transform: rotate(45deg);
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 240px);
  padding-left: 10px;
  padding-right: 10px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
  padding: 10px;
}

.message {
  position: relative; 
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 50%;
  word-break: break-word;
}

.my-message {
  background-color: #abc99d; 
  margin-left: auto;
  margin-right: 10px;
  max-width: fit-content;
  padding: 5px;
}

.other-message {
  background-color: #dabb9e; 
  max-width: fit-content;
  margin-left: 10px;
  padding: 5px;
}

.my-message .unsend-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #dabb9e;
  background-color: #fff;
  border-color: #dabb9e;
  font-weight: bold;
  cursor: pointer;
}

.my-message:hover .unsend-button {
  display: block;
}

.unsend-button:hover {
  color: #fff;
  background-color: #dabb9e;
  border-color: #dabb9e;
}

.profile-picture {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  max-width: 30%;
}

.match-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px; 
  font-weight: bold;
  color: #abc99d;
}

#conversation-list li {
  border: 2px solid #dabb9e; 
  margin-bottom: 10px;
}

#message-form {
  padding: 10px;
}

#send-message-form {
  display: flex; 
  align-items: center; 
}

#send-message-form textarea {
  width: calc(100% - 120px);
  margin-right: 10px;
}

#send-message-form button {
  width: 100px;
}