.profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-card {
    justify-content: center;
    width: 22%;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #dabb9e; 
    color: white; 
    border-radius: 10px; 
    border: 2px solid black;
}


.profile-card h2 {
    text-align: center; 
    margin: 5px;
    -webkit-text-stroke: 0.5px black;
    text-stroke: 0.5px black;
    overflow-wrap: break-word;
}

.profile-card p {
    /* Set the font size to your desired value */
    font-size: 16px;
    margin: 1px;
    -webkit-text-stroke: 0.5px black;
    text-stroke: 0.5px black;
    overflow-wrap: break-word;
}

.profile-card img {
    width: 100%;
    border-radius: 10px 10px 0 0; 
    max-height: 200px;
    border: 2px solid black;
}

.profile-picture {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.adore-button {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #abc99d;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

.report-button {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #cc403b;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

.message-link {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #abc99d;
    color: white;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px auto;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .profile-card {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .profile-card {
        width: 100%;
    }
}