* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#outline {
    border-color: #4d4d4d !important;
    position: relative;
    width: 40vw;
    margin: 0 auto;
}

.searchContainer {
    padding: 10px;
}

h3 {
    margin-bottom: 3px;
}

.inputLabelText {
    font-weight: bold;
    font-size: 12px;
}

.inputField {
    padding: 5px;
}

.input {
    width: 100%;
}

.rangeInputField {
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.optionDropdown {
    padding: 8px 20px;
    border: 1px solid #e6d1be;
    border-radius: 4px;
    background-color: #e6d1be;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.optionDropdown option {
    font-size: 16px;
    background-color: #e6d1be;
    color: #fff;
    cursor: pointer;
}


.optionDropdown option:checked {
    background-color: #e6d1be;
}

.optionDropdown option:hover {
    background-color: #e6d1be;
    color: #fff;
}


.optionDropdown:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.resetBtn {
    font-size: 10px;
    color: #abc99d;
    border-color: #abc99d;
}

.resetBtn:hover {
    color: #fff;
    background-color: #abc99d;
    border-color: #abc99d;
}

.arrowHeart {
    color: #abc99d;
}

#name-suggestions {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchBtn {
    width: 50%;
    font-size: 18px;
    background-color: #abc99d;
    border-color: #abc99d;
}

.searchBtn:hover {
    background-color: #97b189;
    border-color: #97b189;
}

.profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #e6d1be;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.heartFill {
    color: #e6d1be;
    padding: 3px;
}

#full_name-suggestions{
    border: 1px solid #4d4d4d;
    padding: 5px; 
    list-style-type: none;
    max-height: 150px;
    overflow-y: auto;
}

#full_name-suggestions li {
    padding: 5px;
    cursor: pointer;
}

#full_name-suggestions a {
    color: #97b189;
    text-decoration: none;
}

#full_name-suggestions li:hover {
    background-color: #f0f0f0;
}

.chosen-container {
    width: 100% !important;
}

.chosen-container .chosen-results {
    max-height: 120px;
    overflow-y: auto;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #e6d1be;
    background-image: none;
    color: #fff
}

.chosen-container-multi .chosen-choices {
    border-radius: 4px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #e6d1be;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-color: #e6d1be;
    background-image: none;
    color: #fff;
}

@media (max-width: 1199.98px) {
    #outline {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .dropdownBtn {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #outline {
        width: 80vw;
    }
}