header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

/* Style for the line */
.line {
    width: 0.5px;
    height: 100px;
    background-color: #000000ca;
}

#ul_logo {
    width: 80px;
    height: auto;
}

#ulSingles_logo {
    width: 80px;
    height: auto;
}

.button {
    background-color: #79cf9d; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

.button1 {
    background-color: white; 
    color: #79cf9d; 
    border: 2px solid #79cf9d;
  }
  
  .button1:hover {
    background-color: #79cf9d;
    color: white;
  }
